/* 实验步骤模块 */
.exper_guide  p {
    color: #fff;
}

.exper_guide_title{
    width: 98%;
    height: 22px;
    text-align: center;
    line-height: 22px;
    background-color: rgba(0, 0, 0, .8);
    font-size: 16px;
    margin: 2px;
    cursor: pointer;
}

.exper_guide_content{
    /* display: none; */
    position: relative;
    padding:0 2em;
    /* text-align: center; */
    width: 100%;
    font-size: 13px;
    background-color: #666666;
    color: #ffffff;
    white-space: pre-line;
}


/* 实验步骤滚动条 */
.exper_guide {
    overflow-x: auto; 
    overflow-y: auto;
    width: 100%;
    height: 100%;
    margin: 5px 10px 0px 0px;
    color: #fff;
    z-index: 9;
}

.exper_guide::-webkit-scrollbar {/*滚动条整体样式*/
    width: 10px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 0px;
    border-radius: 20px;
    top: 4000px;
}
   
.exper_guide::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0,0,0,.8);
    background: #535353;
    }
.exper_guide::-webkit-scrollbar-track {/*滚动条里面轨道*/
    box-shadow: inset 0 0 5px rgba(0,0,0,.8);
    border-radius: 20px;
    background: black;
}

/* 场景配置 */
.scene_config{
    display: none;
    position: fixed;
    width: 600px;
    height: 350px;
    left: 50%;
    top: 350px;
    background-color:rgba(0, 0, 0, .8);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 3);
    border-radius: 56px;
    transform: translate(-50%, -50%);
}

.scene_config_title{
    position: relative;
    width: 100%;
    margin: 10px 0px 0px 0px;
    text-align: center;
    line-height: 40px;
    height: 40px;
    color: #ffffff;
}

.scene_config_title>p {
    font-size: 24px;
}

.scene_config_title span {
    position: absolute;
    font-size: 12px;
    right: -20px;
    top: -30px;
    background: #90979c;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.scene_config_title span:hover a{
    color: #ffffff;
}

.scene_config_content {
    position: relative;
    width: 500px;
    height: 220px;  
    margin: 10px 30px 5px 55px;
    border: 1px  solid #ffffff;
    border-radius: 20px;
}

.scene_content_choose li {
    float: left;
    width: 160px;
    height: 40px;
    margin: 10px 165px;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    color: #ffffff;
    background-color: #666666;
    border-radius: 30px;
}

.scene_content_show li:first-child {
    float: left;
    width: 150px;
    height: 150px;
    margin: 10px 20px 10px 40px;
}

.scene_content_show li:last-child {
    float: left;
    width: 150px;
    height: 150px;
    margin: 10px 40px 10px 40px;
}

.scene_content_show li:nth-child(even) {
    float: left;
    width: 20px;
    height: 15px;
    margin: 30px 20px 5px 10px;
    font-size: 60px;
    color: #FFCC33;
    font-family: 'icomoon';
}

.scene_config_login_button {
    width: 50%;
    margin: 10px auto 0px auto;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    border-radius: 20px;
    color: #ffffff;
    background-color: #90979c;
}

.scene_config_login_button a {
    display: block;
    /* color: #666666; */
    color: #fff;
}

.scene_config_login_button:hover a{
    color: #fff;
}




/* 组网与协同配置 */
.contro_config,
.net_config,
.gps_config,
.attack_config {
    display: none;
    position: fixed;
    width: 600px;
    height: 350px;
    left: 50%;
    top: 350px;
    background-color:rgba(0, 0, 0, .8);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 3);
    border-radius: 56px;
    transform: translate(-50%, -50%);
}
.contro_config_title,
.net_config_title,
.gps_config_title,
.attack_config_title  {
    position: relative;
    width: 100%;
    margin: 10px 0px 0px 0px;
    text-align: center;
    line-height: 40px;
    height: 40px;
    color: #ffffff;
}
.contro_config_title>p,
.net_config_title>p,
.gps_config_title>p,
.attack_config_title>p  {
    font-size: 24px;
}

.contro_config_title span,
.net_config_title span,
.gps_config_title span,
.attack_config_title span  {
    position: absolute;
    font-size: 12px;
    right: -20px;
    top: -30px;
    background: #90979c;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.contro_config_title span:hover a,
.net_config_title span:hover a,
.gps_config_title span:hover a,
.attack_config_title span:hover a {
    color: #ffffff;
}

.contro_config_content,
.net_config_content,
.gps_config_content,
.attack_config_content {
    position: relative;
    width: 500px;
    height: 220px;  
    margin: 10px 30px 5px 55px;
    border: 1px  solid #ffffff;
    border-radius: 20px;
}


.contro_config_login_button,
.net_config_login_button,
.gps_config_login_button,
.attack_config_login_button {
    width: 50%;
    margin: 10px auto 0px auto;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    border-radius: 20px;
    color: #ffffff;
    /* background-color: #90979c; */
    background-color: #B5570B
}

.contro_config_login_button a,
.net_config_login_button a,
.gps_config_login_button a,
.attack_config_login_button a   {
    display: block;
    /* color: #666666; */
    color: #fff;
}
.contro_config_login_button:hover a,
.net_config_login_button:hover a,
.gps_config_login_button:hover a,
.attack_config_login_button:hover a{
    color: #fff;
}

/* 重写圆角 */
.net_config {
    border-radius: 64px;
}


/* 组网内容配置 */
.net_config_content p {
    float: left;
    margin: 55px 0px -10px 10px;
    color: #ffffff;
    font-size: 20px;
}
.net_config_content select {
    float: left;
    margin: 55px 0px  0px 0px;
    width: 100px;
    height: 30px;
    font-size: 16px;
    color: #fff;
    background-color: rgba(0, 0, 0, .8);
}

/* 控制协同内容配置 */
.contro_config_content p {
    float: left;
    margin: 30px 0px -10px 9px;
    color: #ffffff;
    font-size: 20px;
}

.contro_config_content select {
    float: left;
    margin: 30px 0px 0px 0px;
    width: 100px;
    height: 30px;
    font-size: 16px;
    color: #fff;
    background-color: rgba(0, 0, 0, .8);
}


/* GPS欺骗内容配置 */
.gps_config_content p{
    float: left;
    margin: 30px 0px -10px 40px;
    color: #ffffff;
    font-size: 20px;
}

.gps_config_content select {
    float: left;
    margin: 30px 0px 0px 0px;
    width: 100px;
    height: 30px;
    font-size: 16px;
    color: #fff;
    background-color: rgba(0, 0, 0, .8);
}


/* 网络攻击内容配置 */
.attack_config_content p{
    float: left;
    margin: 30px 0px -10px 40px;
    color: #ffffff;
    font-size: 20px;
}

.attack_config_content select {
    float: left;
    margin: 30px 0px 0px 0px;
    width: 100px;
    height: 30px;
    font-size: 16px;
    color: #fff;
    background-color: rgba(0, 0, 0, .8);
}
.attack_config_content select:last-child {
    font-family: "Glyphicons Halflings";
}



